@page
@model ContactApp.Pages.Groups.Index

@{
    ViewData["Title"] = "Contact Groups";
}

<h1>Contact Groups</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row mb-2">
        <div class="col-auto p-0">
            <input asp-for="NewContactGroup" name="NewContactGroup"
                   id="NewContactGroup" class="form-control"
                   placeholder="Create New Group"></input>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col" class="text-end"># of contacts</th>
            <th scope="col" class="text-end"># of campaigns</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.ContactGroups)
        {
            <tr>
                <td>@group.Name</td>
                <td class="text-end">@group.NumberOfContacts</td>
                <td class="text-end">@group.NumberOfCampaigns</td>
                <td>
                    <a asp-page="/Campaigns/New" asp-route-selectedGroup="@group.Name">New Campaign</a>
                    &middot;
                    <a asp-page="Delete" asp-route-groupId="@group.ContactGroupId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
