@page
@using ServiceLayer.ContactServices.Dtos
@model ContactApp.Pages.Contacts.Index

@{
    ViewData["Title"] = "Contacts";
}

<h1>Contacts</h1>

<form id="sort-filter-form" method="get">
    <div class="row align-items-end mb-3">
        <div class="col">
            <input asp-for="Search" name="Search"
                   onchange="onSearchParamsChange()"
                   placeholder="Search"
                   class="form-control"></input>
        </div>

        <div class="col-2">
            <label for="sort-by">Sort By:</label>
            <select asp-for="SortBy" name="SortBy"
                    asp-items="Html.GetEnumSelectList<SortContactsBy>()"
                    id="sort-by"
                    onchange="onSearchParamsChange()"
                    class="form-select"></select>
        </div>

        <div class="col-1">
            <a class="btn btn-outline-primary text-nowrap" asp-page="Create">Add New</a>
        </div>
    </div>
</form>

@if (Model.ContactList.Count == 0)
{
    <h2 class="mt-5 display-5 text-center text-secondary">No Contacts Found</h2>
}

@foreach (var contact in Model.ContactList)
{
    <div>
        <h2><a asp-page="Edit" asp-route-contactId="@contact.ContactId">
            @contact.FirstName @contact.LastName
        </a></h2>
        <p>@contact.Email</p>
        <ul>
            @foreach (var group in contact.ContactGroups)
            {
                <li>@group</li>
            }
        </ul>
    </div>
}

@section Scripts
{
    <script>
        const onSearchParamsChange = () => document.getElementById('sort-filter-form').submit();
    </script>
}
